# Importando datos con `pandas`

In [1]:
import pandas as pd

datos = pd.read_csv("datos/colocaciones_créditos_agropecuarios_2024.csv")
datos.head()

,year_es,mes,fuente_colocacion,tipo_productor,valor_inversion,departamento_inversion,municipio_inversion,mpio_posconflicto,plazo,linea_de_produccion,destino_de_credito,genero,latitud,longitud
0,2024,3,REDESCUENTO,PEQUEÑO PPIB,22000000.0,PUTUMAYO,ORITO,S,84,SIEMBRAS (I),141430 Plátano,H,0.696667,-76.874722
1,2024,3,REDESCUENTO,PEQUEÑO PPIB,17000000.0,SANTANDER,OIBA,N,81,SIEMBRAS (I),141100 Café,H,6.300000,-73.250000
2,2024,3,REDESCUENTO,PEQUEÑO PPIB,4000000.0,HUILA,LA ARGENTINA,N,63,SIEMBRAS (I),141100 Café,M,2.250000,-76.166667
3,2024,3,REDESCUENTO,PEQUEÑO PPIB,15000000.0,ANTIOQUIA,URRAO,S,36,SIEMBRAS (I),151360 Lulo,H,6.333333,-76.416667
4,2024,3,REDESCUENTO,PEQUEÑO PPIB,31000000.0,META,GRANADA,N,24,SIEMBRAS (I),141430 Plátano,H,3.538611,-73.700556

# Ejemplo con `dtale`

- Primero debemos instalar la biblioteca `dtale` con el siguiente código: `pip install dtale`

- Después importamos la biblioteca.

In [2]:
import dtale

- Lo único que necesitamos es pasar el método `show()` sobre nuestros datos.

In [ ]:
dtale.show(datos)

# `dtale` en Google Colab

- Primero debemos instalar las bibliotecas:

In [ ]:
!pip install pandas
!pip install dtale

- Configruación adicional para ejecutar dentro de Google Colab:

In [5]:
import dtale
import dtale.app as dtale_app
dtale_app.USE_COLAB = True

- Ejecutamos el método `show` sobre nuestros datos:

In [ ]:
dtale.show(datos)